@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* GLOBAL CSS */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter";
}

html {
    margin: 5% 10%;
    font-size: 15px;
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 0 25px 0;
}

#navbar img {
    margin-right: auto;
}

#navbar ul li {
    display: inline;
    margin: 0 0 0 2.5vw;
}

/* MAIN CONTENT */
.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "web-3 web-3 black-area"
        "big-text small-text black-area"
        "first second third";
    column-gap: 25px;
    row-gap: 25px;
    overflow: hidden;
}

#web3-image {
    grid-area: web-3;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.grid-container > h1 {
    grid-area: big-text;
}

.small-text {
    grid-area: small-text;
}

.black-area {
    grid-area: black-area;
    flex-direction: column;
    height: 100%;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 6% 5%;
}

.black-area > h1 {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4vh;
}

.article-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.article-container > * {
    flex-basis: calc(100%/3);
    border-bottom: 1px solid hsla(236, 13%, 42%, 0.5);
}

.article-container h2 {
    font-weight: 700;
    margin: 7% 0 5% 0;
}

.article > p {
    color: hsl(233, 8%, 79%);
}

#last {
    border-bottom: 0px solid blue;
}

.article-bottom img {
    object-fit: cover;
    flex-basis: 33%;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}